.doctorCard {
  width: 30%;
  border: 2px solid black;
  float: left;
  height: 300px;
  border-radius: 24px;
  padding: 1%;
  margin: 2px;
  background-color: #D3DAF4;
}
.doctorsOutput {
  display: none;
}
.subtitle {
  border: 3px solid #387F81;
  border-radius: 24px;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  background-color: #D6EFF0;
}
.issueSearch {
  border: 3px solid #387F81;
  border-radius: 24px;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  background-color: #F3DFB5;
}
.nameSearch {
  border: 3px solid #387F81;
  border-radius: 24px;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  background-color: #F3DFB5;
}
.title {
  border: 3px solid green;
  border-radius: 24px;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
  background-color: #DCF0D6;
}
#or {
  text-align: center;
}
#title {
  font-size: 80px;

}
